.grid > .panels-ipe-region {
  .padding(left);
}

.panels-ipe-portlet-content {
  > .grid__cell {
    padding-left: 0;
  }
}

.panels-ipe-editing {
  .panels-ipe-region {
    margin-bottom: 10px;
  }

  .panels-ipe-linkbar {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      .inline-block();
      float: none;
    }
  }

  .panels-ipe-placeholder {
    background: @colour-neutral-darker;
    border: 1px solid @colour-neutral-darkest;
    display: table !important;
    margin-top: 0;
    padding: 7px;
    width: 100%;
  }

  .panels-ipe-placeholder-content {
    display: table-cell !important;

    h3 {
      color: @colour-neutral-light;
      font-size: 14px;
      margin: 0;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }

  .panels-ipe-newblock {
    .box-shadow(none);
    display: table-cell !important;
    margin: 0;
    position: relative;
    right: 0;
    text-align: right;
    top: 0;
    width: 100%;
  }


  .panels-ipe-handlebar-wrapper {
    border-bottom: 1px solid @colour-neutral-light;

    ul {
      float: none;
      text-align: left;
    }
  }

  div.panels-ipe-portlet-wrapper {
    border: 1px solid @colour-neutral-light;
    margin-top: 10px;

    &:hover {
      border: 1px dashed @colour-neutral-light;
    }
  }

  .panels-ipe-draghandle,
  .panels-ipe-nodraghandle {
    background: @colour-neutral-lighter;
    display: table;
    width: 100%;

    .panels-ipe-draghandle-icon {
      display: table-cell;
      float: none;
      position: relative;

      span {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }
  }

  .panels-ipe-portlet-content {
    margin: 10px;
  }

  div.panels-ipe-handlebar-wrapper li a,
  div.panels-ipe-dragtitle span,
  div.panels-ipe-newblock a,
  span.panels-ipe-draghandle-icon {
    .box-shadow(none);
  }

  .panels-ipe-sort-container {
    border-left: 2px dashed @colour-neutral-light;
    border-right: 2px dashed @colour-neutral-light;
    border-bottom: 2px dashed @colour-neutral-light;
    min-height: 52px;
    padding: 10px;

    .panels-ipe-portlet-wrapper:first-child {
      margin-top: 0 !important;
    }

    .ui-sortable-placeholder {
      height: 30px !important;
      margin: 0;
    }

    .ui-sortable-placeholder:first-child {
      margin-top: 10px;
    }
  }
}

/* Panels DND (change layout modal) */
.panels-dnd {
  .grid {
    padding: 0;
    margin-left: 0 !important;
  }

  .grid__cell {
    padding-left: 0 !important;
  }

  .panel-region {
    margin: 0 10px 20px;
  }
}

.change-layout-display {
  .clearfix();
}


/* IPE Controls */
div#panels-ipe-control-container {
  background: #111;
}
